

img {
    width: 300px;
}

.div2{
    height: 50px;
    display: inline-block;
}

p{
    display: inline-block;
}

ul{
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-around;
}



@keyframes turn {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.gazo{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.disque{
    position: relative;
    display: inline-block;
    animation: turn 4s infinite linear;
}

.pause {
    animation-play-state: paused;
}